@media only screen and (max-width:688px) {
  

header{
  background-image: url("bg-hero-mobile.svg");
   width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--Very-Pale-Cyan);
} 
nav{
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
}
nav div img{
  height: 15px;
}
 nav button{
  width: 80px;
  font-weight: 700;
  font-size: 9px;
  box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.477);
  border-radius: 30px;
  outline: none;
  border: none;
  color: var(--Very-Dark-Cyan);
  background-color: white;
  text-align: center;
  height: 20px;
  transition: 0.5s;
}
nav button:hover{
  background-color: #d9d5d5;
}
.header-parent{
  display: block;
  width: 90%;
  margin: 20px auto 0;
}
.header-parent .header-text{
  width: 80%;
  margin: 60px auto;
  height: auto;  
  text-align: center;
}
.header-parent .header-text h2{
  font-weight: 700;
  font-size: 25px;
  margin-top: 15px auto;
}
.header-parent .header-text p{
  font-size: 16px;
  margin: 20px 0;
  font-weight: 400;
}
.header-text a{
  font-size: 12px;
  padding: 9px 40px;
}
.header-img{
  width: 80%;
  margin: 0 auto;
}





/* * header section code end  */ 

/* main section code start  */

/* Start of section 1  */
.section1{
  background-color: var(--Very-Pale-Cyan);
  width: 90%;
  margin: 20px auto;
  box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.25);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 5px;
}

.sec1-text{
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}
.sec1-text p{
  font-size: 13px;
}
.sec1-img{
  max-width: 80%;
  margin: 20px auto;
  padding: 30px;
}
.sec1-img img{
  width: 100%;
}


/* section 2 code start here  */
.section2{
  width: 90%;
  height: auto;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sec2-img {
  margin:50px auto;
  width: 80%;
}
.sec2-img img{
  margin-top: 50px;
  max-width: 100%;
}
.sec2-text{
  margin: auto;
  text-align: center;
  padding:0 40px;
}
.sec2-text h3{
  font-size: 20px;
}
.sec2-text p{
padding:30px 0 50px 0;
}


.sec3{
  flex-direction: column-reverse;
  flex-direction: column-reverse;
}


footer{
  width: 100%;
  margin-top: 150px;
  position: relative;
  background-color: var(--Very-Dark-Cyan);
  height: auto;
  padding-bottom: 30px;
}

.sec4{
  width: 80%;
  text-align: center;
  padding:20px 10px;
  margin: 0;
 box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.542);
 border-radius: 10px;
 position: absolute;
 left:12% ;
 top:-50px ;
 background-color: #fff;
}
.sec4 button{
  background-color: var(--Pink);
  border-radius: 30px;
  margin: 10px;
  color: #ffffffc9;
  font-weight: bold;
  font-size: 13px;
  width: 150px;
  height: 40px;
}

.footer-parent{
  width: 90%;
  margin: auto;
  padding-top: 150px;
  color: rgba(255, 255, 255, 0.703);
  display:flex;
  flex-direction: column;
  gap: 0px;
  font-size: 13px;
}
.fot2 ,.fot3,.fot4{
  width: 100%;
  padding: 20px 0;
}

.ss{
  width: 150px;
  margin-bottom: 10px;
}
.fot4{
  margin: 0 auto;
  text-align: center;
}
.fot4 i{
  border: 1px solid white;
  padding:8px 10px;
  border-radius: 50%;
  margin: 0;
}
.copyright{
  color: #ffffffbb;
  display: flex;
  margin-top: 50px;
  text-align: center;
  font-size: 12px;
  pa
}





}
@media only screen and (min-width:689px) and (max-width:1100px) {
  header{
  background-image: url("bg-hero-desktop.svg");
   width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--Very-Pale-Cyan);
} 
.header-parent{
  gap: 10px;
}
.header-parent .header-text{
  width: 80%;
  margin-top: 30px;
  height: auto;  
}
.header-parent .header-text h2{
  font-weight: 700;
  font-size: 22px;
  margin-top: 10px;
}
.header-parent .header-text p{
  font-size: 14px;
  margin: 10px 10px 15px  0;
  font-weight: 400;
}
.header-img{
  width: 100%;
  margin: 0 ;
}

.sec-one-parents{
  width: 100%;
}

.section1{
  background-color: var(--Very-Pale-Cyan);
  width: 90%;
  margin: 50px auto;
  box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.25);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.sec1-img{
  width: 100%;
  margin: 20px;
  padding: 30px;
}
.sec1-img img{
  width: 100%;
}
.sec1-text{
  width: 80%;
  height: 200px;
  margin: auto 0 auto 100px;
}



/* section 2 code start here  */
.section2{
  height: 300px;
}


.sec2-img{
  margin:auto;
  width: 80%;
}
.sec2-text{
  margin: auto;
  padding:0 40px;
}
.sec2-text p{
  color: rgba(0, 0, 0, 0.625);
}
.sec4{
  left: 30%;
}
}
/* * header section code end  */ 

/* main section code start  */

/* Start of section 1  */
